.modal_open {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out;
}

.modal__content-edit {
  position: relative;
}

.modal__form-edit {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  max-width: 420px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.form__title-edit {
  margin: 0;
}

.modal__label-edit {
  display: flex;
  flex-direction: column;

  font-size: 0.95rem;
}

.modal__label-input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid;
  margin-top: 8px;
  /* color: rgba(0, 0, 0, 0.5); */
  border-color: rgba(0, 0, 1);
}

.modal__submit-edit {
  margin-top: 16px;
  max-width: 123px;
  background: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 8px;
  border: 0;
}
.modal__btn {
  position: absolute;
  border: none;
  background-color: transparent;
  right: -445px;
  top: -126px;
}

.modal__actions-button {
  font-size: 0.95rem;
}

.modal__actions button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
