.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  width: 498px;
  max-height: 610px;
  padding: 28px;
  border-radius: 20px;
  object-fit: fill;
  box-sizing: border-box;
}

.modal__close-button {
  max-width: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.form__title {
  font-weight: 700;
  max-width: 100%;
  font-size: 16px;
}

.modal__input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 1);
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__legend {
  margin-bottom: 12px;
}
.modal__image {
  width: 498px;
  height: 498px;
  object-fit: cover;
  border: 0;
}

.modal__submit {
  width: 96px;
  height: 30px;
  padding: 5px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.modal__content_type_image {
  padding: 0;
  overflow: hidden;
}

.modal__footer {
  padding: 20px 34px 32px 32px;
}

.modal__caption {
  margin: 0 0 12px 0;
}

.modal__weather {
  margin: 0;
}

.signin__up-btn {
  display: flex;
  max-height: 36px;
  width: 187px;
  gap: 8px;
}

.rendered_button {
  border: none;
  background-color: transparent;
  width: 89px;
}

.modal__submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 400px) {
  .modal__image {
    width: 343px;
  }
}
