.card {
  max-width: 325px;

  position: relative;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 15px;
  right: 15px;
  gap: 8px;
}

.card__name {
  top: 15px;
  margin: 0;
  background-color: #fff;
}

.card__image {
  width: 325px;
  height: 328px;
  border-radius: 19px;
  border: 1px;
  background-color: rgba(233, 233, 233, 1);
}

.card__like {
  border: 0;
  max-height: 4px;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .card__image {
    width: 164px;
    height: 164px;
  }

  .card__name {
    max-width: 100%;

    font-size: 15px;
  }
}
