.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}
.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.header__logo {
  margin-right: 0;
}

.header__date-location {
  margin: 0;
}

.profile__link {
  text-decoration: none;
  color: black;
}

.header__add-clothes-btn {
  margin: 0 0 0 auto;
  border: 0;
}

.header__user-container {
  margin: 0 20px 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar__container {
  display: flex;
  gap: 10px;
}

.signup__login-btns {
  display: flex;
  gap: 20px;
}

.header__signout-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.header__auth-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
